<h1>Create Ticket</h1>
<div>
  <form
    #form="ngForm"
    novalidate="novalidate"
    autocomplete="off"
    (submit)="SendTicket(form)"
  >
    <div class="form-group">
      <input
        id="inputEmail"
        name="Email"
        type="hidden"
        [(ngModel)]="formTicketModel.Email"
        #Email="ngModel"
      />
    </div>


    <div class="form-group">
      <input
        id="inputStatus"
        name="Status"
        type="hidden"
        [(ngModel)]="formTicketModel.Status"
        #Status="ngModel"
      />
    </div>

  
  

    <!--  -->
    <div class="form-group col-md-6">
      <label for="inputState">Priority</label>
      <select
        id="inputState"
        class="form-control"
        name="Priority"
        [(ngModel)]="formTicketModel.Priority"
        #Priority="ngModel"
      >
        <option selected>Low</option>
        <option>Medium</option>
        <option>High</option>
        <option>Immoderate</option>
      </select>
    </div>


    <div class="form-group col-md-6">
      <label for="inputToManagerName">Send to:</label>
      <select
        id="inputToManagerName"
        class="form-control"
        name="ToManager"
        [(ngModel)]="formTicketModel.ToManager"
        #ToManager="ngModel"
      >
        <option selected>All</option>
        <option *ngFor="let manager of managers">{{manager.FirstName + " " + manager.LastName}}</option>
      </select>
    </div>


    <!--  -->
  
    <!-- <div class="form-group">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        <i class="fas fa-file-upload"></i>
        {{ fileName }}
      </button>
      <input
        hidden
        (change)="onFileSelected($event.target.files)"
        #fileInput
        type="file"
        id="file"
      />
    </div> -->
    
   
    

    <div class="form-group">
      <label for="inputSubject">Subject</label>
      <!-- | -->
      <input
        type="text"
        class="form-control"
        id="inputSubject"
        name="Subject"
        [(ngModel)]="formTicketModel.Subject"
        #Subject="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <textarea
        id="inputDescription"
        class="form-control"
        rows="10"
        name="Description"
        [(ngModel)]="formTicketModel.Description"
        #Description="ngModel"
      >
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
