a {
  color: black;
}
.addBtn {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addTxt{
    height: 34px;
    width: 526px;
}