<div class="card">
  <div class="card-header">User Details</div>
  <div class="card-body">
    <dl>
      <dt>First Name:</dt>
      <dd>
        {{ user?.FirstName }}
      </dd>
      <dt>Last Name:</dt>
      <dd>
        {{ user?.LastName }}
      </dd>
      <dt>Email:</dt>
      <dd>
        {{ user?.Email }}
      </dd>
      <dt>Phone Number:</dt>
      <dd>
        {{ user?.PhoneNumber }}
      </dd>
      <dt>Roles:</dt>
      <dd>
        {{ user?.Roles }}
      </dd>
    </dl>
    <a class="btn" (click)="Back()" matTooltip="Back">
      <i class="material-icons">arrow_back</i>
    </a>
  </div>
</div>
