<h1>Edit Ticket</h1>
<div>
  <form [formGroup]="ticketForm" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="inputStatus">Status</label>
      <input
      type="text"
        id="inputStatus"
        class="form-control"
        name="Status"
        formControlName="Status"
      >
    </div>
    <div class="form-group">
      <label for="inputState">Priority</label>
      <input
      type="text"
        id="inputState"
        class="form-control"
        name="Priority"
        formControlName="Priority"
      >
    </div>

    <div class="form-group">
      <label for="inputDescription">Description</label>
      <textarea
        id="inputDescription"
        class="form-control"
        rows="10"
        name="Description"
        formControlName="Description"
      >
    </textarea>
    </div>
  </form>
  <div class="">
    
  </div>

  <form #form="ngForm" (submit)="SendAnswer(form)">
    <div class="form-group">
      <label for="inputAnswer">Answer</label>
      <textarea
      id="inputAnswer"
      class="form-control"
      rows="10"
      name="Answer"
      [(ngModel)]="formTicketModel.Answer"
      #Answer="ngModel"
      >
    </textarea>
    <div class="form-group">
      <input
        id="inputIsManager"
        name="IsManager"
        type="hidden"
        [(ngModel)]="formTicketModel.IsManager"
        #IsManager="ngModel"
      />
    </div>
    <div class="form-group">
      <input
        id="inputEmail"
        name="Email"
        type="hidden"
        [(ngModel)]="formTicketModel.Email"
        #Email="ngModel"
      />
    </div>
    <div class="form-group">
      <input
        id="inputTicketId"
        name="TicketId"
        type="hidden"
        [(ngModel)]="formTicketModel.TicketId"
        #TicketId="ngModel"
      />
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form> 
</div>
