<h1>Edit Ticket</h1>
<div>
  <form
    [formGroup]="ticketForm"
    (submit)="save(ticketForm.value)"
    autocomplete="off"
    novalidate
  >
    <div class="form-group">
      <label for="inputStatus">Status</label>
      <select
        id="inputStatus"
        class="form-control"
        name="Status"
        formControlName="Status"
      >
        <option value="Open">Open</option>
        <option value="Closed">Closed</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputPriority">Priority</label>
      <select
        id="inputPriority"
        class="form-control"
        name="Priority"
        formControlName="Priority"
      >
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Immoderate">Immoderate</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputDescription">Description</label>
      <textarea
        id="inputDescription"
        class="form-control"
        rows="10"
        name="Description"
        formControlName="Description"
      >
      </textarea>
    </div>

    <!--  -->
    <button type="submit" class="btn btn-primary">Submit</button>

    <!-- Show conversation -->
    <button type="button" (click)="ShowAnswers()" class="btn btn-info">
      {{ text }} <i class="material-icons">{{ arrowClass }}</i>
    </button>

    <!-- ShowAnswers -->
    <button type="button" (click)="AddAnswer()" class="btn btn-info">
      {{ textb }} <i class="material-icons">{{ barrowClass }}</i>
    </button>




    <div *ngIf="Showed">
      <div *ngFor="let item of modelList" class="row">
        <div class="card">
          <div class="row" *ngIf="item.IsManager; else elseBlock">
            <div class="card-header">{{ item.Email }}</div>
            <div class="card-body">
              <textarea rows="10" cols="50" class="card-text">{{
                item.Description
              }}</textarea>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="card-header">{{ item.Email }}</div>
            <div class="card-body">
              <textarea rows="10" cols="50" class="card-text">{{
                item.Description
              }}</textarea>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <!--  -->
  </form>

  <div  *ngIf="AddAnswerShow" class="card">
    <div class="card-header">Add Answer</div>
    <div class="card-body">
      <form #form="ngForm" (submit)="SendAnswer(form)">
        <div class="form-group">
          <textarea
            id="inputAnswer"
            class="form-control"
            rows="10"
            name="Answer"
            [(ngModel)]="formTicketModel.Answer"
            #Answer="ngModel"
          >
          </textarea>
          <div class="form-group">
            <input
              id="inputIsManager"
              name="IsManager"
              type="hidden"
              [(ngModel)]="formTicketModel.IsManager"
              #IsManager="ngModel"
            />
          </div>
          <div class="form-group">
            <input
              id="inputEmail"
              name="Email"
              type="hidden"
              [(ngModel)]="formTicketModel.Email"
              #Email="ngModel"
            />
          </div>
          <div class="form-group">
            <input
              id="inputTicketId"
              name="TicketId"
              type="hidden"
              [(ngModel)]="formTicketModel.TicketId"
              #TicketId="ngModel"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <!-- <button class="btn btn-primary" (click)="CloseTicket()">
          Close Ticket
        </button> -->
      </form>
    </div>
  </div>
</div>
