<header>
  <nav
    id="navup"
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 p-3"
  >
  <div class="container">
    <img
    src="https://www.bing.com/images/blob?bcid=RGCfTbfgg8cDIQ"
    [routerLink]="['/']"
    height="150"
    alt="stern-it"
    title=""
    class="navbar-brand"
    [routerLink]="['/']"
    style="cursor: pointer"
    />
    <p class="navbar-brand" >We Can Do IT</p>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <!--  -->
          <!-- <li *ngIf="userService.authorizedUser()"
          class="nav-item"
          [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark">{{customer}}</a>
      </li> -->
          <!--  -->

          <!--  -->
          <!-- navigate to register page -->
          <!-- see only if unconnected -->
          <li
            *ngIf="!userService.authorizedUser()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/users/register']"
              >Register</a
            >
          </li>
          <!--  -->
          <!-- navigate to login page -->
          <!-- see only if unconnected -->
          <li
            *ngIf="!userService.authorizedUser()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/users/login']"
              >Log in</a
            >
          </li>
          <!--  -->
          <!-- Show Email for this user -->
          <!-- see only if connected -->
          <li
            *ngIf="userService.authorizedUser() && authorizedUser"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">
              {{ authorizedUser.Email }}
            </a>
          </li>
          <!--  -->
          <!-- Log out from this user -->
          <!-- see only if connected -->
          <li
            *ngIf="userService.authorizedUser()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a
              class="nav-link text-dark"
              [routerLink]="['/']"
              (click)="userService.logout()"
              >Log out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
