<header>
  <nav
    id="navup"
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow p-0"
  >
    <div class="container">
      <img
        src="https://www.bing.com/images/blob?bcid=RGCfTbfgg8cDIQ"
        [routerLink]="['/']"
        height="150"
        alt="stern-it"
        title=""
        class="navbar-brand"
        [routerLink]="['/']"
        style="
          cursor: pointer;
          margin-left: 0px;
          margin-right: 50px;
          padding-top: 0px;
          padding-bottom: 5px;
          padding-left: 0px;
          width: 100px;
          height: 100px;
        "
      />
      <p
        class="navbar-brand"
        style="margin-top: 20px; margin-left: 0px; margin-right: 20px"
      >
        We Can Do IT
      </p>

      <p
        style="
          padding-left: 6px;
          padding-top: 6px;
          border-style: groove;
          border-left-width: 2px;
          margin-bottom: 16px;
          margin-top: 20px;
          margin-left: 200px;
          border-top-width: 2px;
          border-bottom-width: 2px;
          border-right-width: 2px;
          padding-right: 6px;
          padding-bottom: 6px;
        "
        *ngIf="userService.authorizedUser()"
      >
        {{ TeamName }} Group
      </p>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <!--  -->
          <!-- <li *ngIf="userService.authorizedUser()"
          class="nav-item"
          [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark">{{customer}}</a>
      </li> -->
          <!--  -->
          <!--  -->
          <!-- navigate to register page -->
          <!-- see only if unconnected -->
          <li
            *ngIf="!userService.authorizedUser()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/users/register']"
              >Register</a
            >
          </li>
          <!--  -->
          <!-- navigate to login page -->
          <!-- see only if unconnected -->
          <li
            *ngIf="!userService.authorizedUser()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/users/login']"
              >Log in</a
            >
          </li>
          <!--  -->
          <!-- Show Email for this user -->
          <!-- see only if connected -->
          <li
            *ngIf="userService.authorizedUser() && authorizedUser"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">
              {{ authorizedUser.Email }}
            </a>
          </li>
          <!--  -->
          <!-- Log out from this user -->
          <!-- see only if connected -->
          <li
            *ngIf="userService.authorizedUser()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a
              class="nav-link text-dark"
              [routerLink]="['/']"
              (click)="userService.logout()"
              >Log out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
