<h1>Login</h1>
<p class="font-weight-normal">Login to Stern-IT account</p>
<hr />

<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <form
      #form="ngForm"
      novalidate="novalidate"
      autocomplete="off"
      (submit)="login(form)"
    >
      <div class="form-group mb-4">
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          name="Email"
          #Email="ngModel"
          [(ngModel)]="formLoginModel.Email"
          required
        />
      </div>

      <div class="form-group mb-4">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          name="Password"
          #Password="ngModel"
          [(ngModel)]="formLoginModel.Password"
          required
        />
      </div>
      <div class="form-group mb-4">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="btn btn-lg btn-primary btn-block"
        >
          Log In
        </button>
      </div>

        <p class="mt-2 text-center">
          <a [routerLink]="['/users/register']">Register as a new user</a>
        </p>
        <p class="mt-2 text-center">
          <a [routerLink]="['/users/ResetPassword']">Forgot Password</a>
        </p>
    </form>
  </div>
</div>
