<h1>Reset Password</h1>
<p class="font-weight-normal">Reset Password For Account</p>
<hr />

<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <form
      #form="ngForm"
      novalidate="novalidate"
      autocomplete="off"
      (submit)="ResetPassword(form)"
    >
      <div class="form-group mb-4">
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          name="Email"
          #Email="ngModel"
          [(ngModel)]="ResetPasswordModel.Email"
          required
        />
      </div>

      <div class="form-group mb-4">
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-block"
        >
          Reset
        </button>
      </div>
    
    </form>
  </div>
</div>
