<h1>Reset Password</h1>
<p class="font-weight-normal">Reset Password</p>
<hr />

<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <form
      [formGroup]="ResetPasswordModel"
      (submit)="ResetPassword()"
      autocomplete="off"
    >
      <div class="form-group">
        <div class="row">
          <p><i class="text-danger">*</i> Email :</p>
          <input
            type="email"
            placeholder="email"
            id="Email"
            class="form-control"
            formControlName="Email"
            required
            email
          />
          <label
            class="text-danger"
            *ngIf="
              ResetPasswordModel.get('Email').touched &&
              ResetPasswordModel.get('Email').errors?.required
            "
          >
            Email is required
          </label>
          <label
            class="text-danger"
            *ngIf="ResetPasswordModel.get('Email').errors?.email"
          >
            Email is invalid
          </label>
        </div>
      </div>
      <div class="row">
        <!-- Submit -->
        <button
          [disabled]="!ResetPasswordModel.valid"
          class="btn btn-lg btn-primary btn-block"
          type="submit"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
