  <h1>Register</h1>
  <p class="font-weight-normal">Register to Stern-IT account</p>
  <hr />

  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <form 
        [formGroup]="userService.formRegisterModel"
        (submit)="register()"
        autocomplete="off"
      >
        <!-- Email -->
        <div class="form-group">
          <input
            type="email"
            placeholder="Email"
            id="Email"
            class="form-control"
            formControlName="Email"
            required
            email
          />
          <label
          class="text-danger"
          *ngIf="
            userService.formRegisterModel.get('Email').touched &&
            userService.formRegisterModel.get('Email').errors?.required
          "
        >
          Invalid Email Address
        </label>
        </div>

        <!-- Phone -->
        <div class="form-group">
          <input
            type="text"
            placeholder="Phone"
            id="PhoneNumber"
            class="form-control"
            formControlName="PhoneNumber"
            required
          />
          <label
              class="text-danger"
              *ngIf="
                userService.formRegisterModel.get('PhoneNumber')
                  .touched &&
                userService.formRegisterModel.get('PhoneNumber')
                  .errors?.required
              "
            >
              Invalid Phone Number
            </label>
        </div>

        <!-- Password -->
        <div formGroupName="Passwords" class="form-group mb-4">
          <div class="form-group required">
            <input
              type="password"
              placeholder="Password"
              class="form-control"
              formControlName="Password"
            />
            <label
            class="text-danger"
            *ngIf="
              userService.formRegisterModel.get('Passwords.Password').touched &&
              userService.formRegisterModel.get('Passwords.Password').errors
                ?.required
            "
          >
            Invalid Password Address
          </label>
         
          </div>

          <div class="form-group required">
            <input
              type="password"
              placeholder="Confirm Password"
              class="form-control"
              formControlName="ConfirmPassword"
            />
            <label
              class="text-danger"
              *ngIf="
                userService.formRegisterModel.get('Passwords.ConfirmPassword')
                  .touched &&
                userService.formRegisterModel.get('Passwords.ConfirmPassword')
                  .errors?.required
              "
            >
              Invalid Confirm Password Address
            </label>
            <label
              class="text-danger"
              *ngIf="
                userService.formRegisterModel.get('Passwords.ConfirmPassword')
                  .touched &&
                userService.formRegisterModel.get('Passwords.ConfirmPassword')
                  .errors?.passwordMismatch
              "
            >
              The passwords does not match
            </label>
          </div>
        </div>

        <!-- Submit -->
        <button
          [disabled]="!userService.formRegisterModel.valid"
          class="btn btn-lg btn-primary btn-block"
          type="submit"
        >
          Register
        </button>
      </form>
    </div>
  </div>

