<div class="card">
  <div class="card-header">Ticket Details</div>
  <div class="card-body">
    <dl>
      <dt>Id:</dt>
      <dd>
        {{ ticket?.Id }}
      </dd>
      <dt>Email:</dt>
      <dd>
        {{ ticket?.Email }}
      </dd>
      <dt>Status:</dt>
      <dd>
        {{ ticket?.Status }}
      </dd>
      <dt>Subject:</dt>
      <dd>
        {{ ticket?.Subject }}
      </dd>
      <dt>Priority:</dt>
      <dd>
        {{ ticket?.Priority }}
      </dd>
      <dt>Description:</dt>
      <dd>
        {{ ticket?.Description }}
      </dd>

      <div *ngFor="let item of modelList" class="row">
        <dt>{{ item.Email }}:</dt>
        <dd>
          <textarea rows="10" cols="50" id="user">
         {{ item.Description }}
        </textarea
          >
        </dd>
      </div>
    </dl>
    <a class="btn" [routerLink]="['/tickets']" matTooltip="Back">
      <i class="material-icons">arrow_back</i>
    </a>
    <button *ngIf="!ticketStatusIsOpen" class="btn btn-primary" (click)="CloseTicket()">Open Ticket</button>

  </div>
</div>
