<h1>Closed Ticket</h1>
<form autocomplete="off">
  <a class="btn" (click)="Refresh()" matTooltip="Refresh" >
    <i class="material-icons">refresh</i>
  </a>
  <mat-form-field>
      <input
        matInput
        type="text"
        (keyup)="filter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" matSort class="table table-hover">
      <tr>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let item">
              {{ item.Email }}
            </td>
          </ng-container>
        <ng-container matColumnDef="Subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
          <td mat-cell *matCellDef="let item">
            {{ item.Subject }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let item">
            {{ item.Status }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="Priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
          <td mat-cell *matCellDef="let item">
            {{ item.Priority }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let item">
            {{ item.Created }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let item">
            {{ item.Description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="details-delete">
          <th mat-header-cell *matHeaderCellDef>Details - Edit -Delete</th>
          <td mat-cell *matCellDef="let item">
            <a
              class="btn"
              [routerLink]="['/tickets', item.Id]"
              matTooltip="Details"
            >
              <i class="material-icons">info</i>
            </a>
            <a *ngIf="userService.allowedRole(['Administrator'])" class="btn" matTooltip="Delete" (click)="deleteTicket(item.Id)">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  
    <mat-paginator
      [pageSizeOptions]="[100, 50, 25, 10]"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>
  </form>
  