.image{
    background-image: url('https://www.bing.com/images/blob?bcid=RPKBjBp7TscDqxcxoNWLuD9SqbotqVTdP7M');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}